body {
    font-family: "Calibri Light", serif;
}

h1 {
    font-size: 20px;
}
table {
    horiz-align: center;
    margin-top: 5rem;
}
th, td {
    text-align: center;
}
nav {
    max-height: 40px;
}
.winner {
    color: #2f8de0;
}