{#<div class="row col-sm-12">{{ winner.0 }}</div>#}
<div class="row">
    {% for c_list in card_lists %}
        <div class="col-sm-{{ n }}">
            {% set player_num = c_list.0 + 1 -%}
            <div class="row">
                <div class="col-sm-4">
                    <small>Player {{ player_num }}</small>
                </div>
                <div class="col-sm-8">
                    {% if c_list.0 == winner %}
                        <span class="badge bg-warning text-dark">
                            <small><i class="fa fa-star-o"></i> WINNER <i class="fa fa-star-o"></i></small>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% for card in cards|batch(n_players) %}
    <div class="row">
        {% for c in card %}
            <div class="col-sm-{{ n }}">
                <div class="card-img">
                    <img class="img-thumbnail playing-card"
                         src="{{ url_for('static', filename='svg_playing_cards/fronts/' + c.card_img) }}"
                         alt="{{ c.player }} {{ c.card_slug }}"
                         data-player="{{ c.player }}"
                         data-face="{{ c.card_face }}"
                         data-value="{{ c.card_val }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}