{#<div class="row col-sm-12">{{ n_cards }}</div>#}
{#<div class="row">#}
{##}
{#    <div class="col-sm-2">P1</div>#}
{#</div>#}
{% for card in cards|batch(n_players) %}
    <div class="row">
        {% for c in card %}
            <div class="col-sm-{{ n }}">
                <div class="card-img">
                    <img class="img-fluid"
                         src="{{ url_for('static', filename='cards/'+c.card_img) }}"
                         alt="{{ c.card_face }} {{ c.card_val }}"
                         data-face="{{ c.card_face }}"
                         data-value="{{ c.card_val }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}