<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <title>5-card Stud</title>
    <style type="text/css">
        body {
            background-color: #010101;
            font-family: Arial, serif;
            color: #e1e1e1;
        }
        img {
            width:50%;
        }
        h1, p {
            text-align: center;
            color: #e1e1e1;
        }
        table {
            horiz-align: center;
            margin-top: 5rem;
        }
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
{% block header %}
	<header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Home</a>
            <div class="nav-item"><h1>Poker</h1></div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://jojodave.com">Baseball Card Database</a>
            </div>
        </div>
      </nav>
    </header>
{% endblock %}
    <div class="container">

        <table align="center" class="table table-dark table-sm">
            <tr>
                <th width="150px">Player 1</th>
                <th width="150px">Player 2</th>
                <th width="150px">Player 3</th>
                <th width="150px">Player 4</th>
            </tr>

            {% for card in cards|batch(4) %}
                <tr>
                    {% for c in card %}
                        <td>
                            <img src="{{ c['card_img'] }}" alt="{{ c['card_face'] }} {{ c['card_val'] }}">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p>Copyright &copy; 2022 Crandell</p>
    </div>
</body>
</html>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>