<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5-card Stud</title>
    <style type="text/css">
        body {
            background-color: #010101;
            font-family: Arial, serif;
            color: #e1e1e1;
        }
        img {
            width:50%;
        }
    </style>
</head>
<body>
    <h1 align="center">Poker</h1>
    <table align="center">
        <tr>
            <th width="150px" align="left">Player 1</th>
            <th width="150px" align="left">Player 2</th>
            <th width="150px" align="left">Player 3</th>
            <th width="150px" align="left">Player 4</th>
        </tr>

        {% for card in cards|batch(4) %}
            <tr>
                {% for c in card %}
                    <td>
                        <img src="{{ c['card_img'] }}" alt="{{ c['card_face'] }} {{ c['card_val'] }}">
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <p>Copyright &copy; 2022 Crandell</p>
</body>
</html>